<!DOCTYPE html>
<html lang="pr-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../css/styles.css">

</head>

<body>

    <nav>
        <h1>
            <p>
                <a href="texto1">
                    Sobre a Getting Books
                    <a href="texto1">

                        
                    </a>
            
            
                </a>
            </p>
        </h1>
    </nav>

    <header>

<p>

    <a href="" class="logo">

            <img src="../img/Design_sem_nome__2_-removebg-preview.png" alt="" width="100px">


    </a>
    </p>

        <p>
            <a href="" class="icon-link">
                <img src="" alt="" width="40px">
                GettingBooks
        </p>

        <form action="" id="form-buscar">

            <input type="search" name="buscar" id="buscar" placeholder="Buscar...">
            <button type="submit" id="btn-buscar"><img src=" ../imgs/search_24dp_FILL0_wght400_GRAD0_opsz24.png " alt=""
                    width="30px"></button>


        </form>
        <p>
            <a href="" class="icon-link">
                <img src="" alt="" width="40px">
                Minha lista
        </p>

        <p>
            </a>
            <a href="" class="icon-link">
                <img src="" alt="" width="40px">
                Trocas


                <p>
            </a>
            <a href="" class="icon-link">
                <img src="../imgs/help_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" width="40px">
                Usuário
    </header>

    <div class="carde-pequeno">
        <h1>
            <p>
                <a href=""> Categorias | Mais Procurados Principais Autores Obras de sucesso </a>
            </p>
        </h1>



    </div>

    <section id="banner">
    </section>

    </div>
</body>